@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Federo&display=swap");

:root {
  --font-title: "Limelight", sans-serif;
  --font-body: "Federo", sans-serif;

  --color-bg: #000;
  --color-text: #e2d8b5;
  --color-accent: #e4af03;
  --color-card: #043d3f;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
  margin: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: var(--font-title);
  font-size: 5rem;
}

h2 {
  font-family: var(--font-body);
  font-size: 3rem;
}

h3 {
  font-family: var(--font-body);
  font-size: 2rem;
}

a {
  color: var(--color-text);
  font-size: 1.5rem;
  text-decoration: none;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  .link {
    font-size: 1rem;
  }
}
